<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{TabTitle}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="templates/BlueSpace/styles.css" media="screen" />
</head>
<body>

<div id="wrap">

<div id="header" class="no-intro">
	<h1><a href="#">Website Title</a></h1>
	<h2>{{SiteMoto}}</h2>
</div>

<div id="content">
	<div class="left">{{PageContent}}</div>

	<div class="right">{{SideBar}}</div>
	
<div style="clear: both;"></div>
</div>


<div id="footer">{{SiteFooter}}</div>
</div>

</body>
</html>