<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
	<head>
	<meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
	<title>{{TabTitle}}</title>
	<link rel="stylesheet" type="text/css" href="{{AutoStyle:styles.css}}" media="all" />
	<script src="javascript/jquery-1.4.2.min.js" type="text/javascript"></script>
	</head>
	<body>
	<div id="container">

		<div id="header">{{SiteHeader}}</div>
		<div id="moto">{{SiteMoto}}</div>
		
		<div id="content">
		
			<div id="nav">{{SideBar}}</div>
			
			<div id="page">{{PageContent}}</div>
			
			<div class="clear"></div>
			
		</div>
		
		<div id="footer">{{SiteFooter}}</div>
</div>
</body></html>